body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26282c;
    font-family: Arial, sans-serif;
}

.field {
    position: relative;
    top: 20vh;
    box-shadow: 0 4px 6px rgba(207, 207, 207, 0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
}

h1 {
    text-align: center;
    color: white;
}

.div-login {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    position: relative;
    left: 2%;
    width: 98%;
    height: 65%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: white;
}

input {
    background-color: #2D3748;
    font-size: 15px;
    height: 15px;
    width: 96%;
}

.login-button {
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: #26282c;
    color: white;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-button:hover {
    background-color: #313338;
}